@font-face {
    font-family: 'bang_whack_powregular';
    src: url('font/bang_whack_pow-webfont.eot');
    src: url('font/bang_whack_pow-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/bang_whack_pow-webfont.woff2') format('woff2'),
         url('font/bang_whack_pow-webfont.woff') format('woff'),
         url('font/bang_whack_pow-webfont.ttf') format('truetype'),
         url('font/bang_whack_pow-webfont.svg#bang_whack_powregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'klillregular';
    src: url('font/klill-light-webfont.eot');
    src: url('font/klill-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/klill-light-webfont.woff2') format('woff2'),
         url('font/klill-light-webfont.woff') format('woff'),
         url('font/klill-light-webfont.ttf') format('truetype'),
         url('font/klill-light-webfont.svg#klillregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'klillregular';
    font-size: 16px;
}

#logo {
    width: 30%;
	margin-top: 20px;
	margin-left: 40px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/*DEBUT PAGE DE LOGIN */
/*centrer l'élément: https://tableless.com.br/centralizando-um-objeto-na-horizontal-e-vertical-com-css/*/
#loginForm {
    margin: 10%;
	width: 200px;
	height: 200px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-50px;
	margin-left:-50px;
	text-align: center;
}

.elemLogin {
    margin-bottom: 5px;
    margin-top: 20px;
	font-size: 1.5em;
}

.inputLogin{
	text-align: center;
	height: 30px;
}

#btnSoumettre{
	width: 100px;
	margin-left: 50px;
	margin-top: 20px;
	padding: 5px;
	border-radius: 10px;
}
/*FIN PAGE DE LOGIN */
/*DEBUT PAGE D'ACCUEIL */
.btnFinSession{
	white-space: nowrap;
	margin: 100px 100px 10px 0px;
	font-weight: bold;
}

.menu {
	width: 800px;
	padding: 10px;
	margin: 10px 280px;
}

.menuPrincipal{
	padding: 0px 5px;
}

.btnMenu{
	display: table-cell;
	margin-left: 30px;
	vertical-align: bottom;
	width: 200px;
	height: 180px;
	border: 1px solid #000;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
}
/*FIN PAGE D'ACCUEIL */
/*DEBUT D'AUTRES PAGES */


/*FIN D'AUTRES PAGES */
#labelImportImageCaroussel{
	font-size: 30px;
	font-family: 'klillregular';
	text-decoration: none;
	padding: 10px;
	border: 2px solid red;
	margin-bottom: 20px;
}

#imageCaroussel img, #imagelisteOeuvre img{
	width: 100%;
}

#poubelle{
	font-size: 40px;
	font-family: 'bang_whack_powregular';
	margin-left: 500px;
}


#imageCaroussel{
	margin: 20px;
	padding: 10px;
	width: 550px;
	border: 1px solid;
}

#imagesCaroussel, #listeImagesOeuvres{
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	border-bottom: 3px solid;
	padding-bottom: 50px;
}


#imagelisteOeuvre{
	margin: 20px;
	padding: 10px;
	width: 250px;
	border: 1px solid;
}

#formChargementImage{
	margin-top: 100px;
	text-align: left;
}

#titreImageCaroussel{
	font-family: 'bang_whack_powregular';
	font-size: 30px;
}

#titreListeImagesOeuvres{
	font-family: 'bang_whack_powregular';
	font-size: 23px;
}