<<<<<<< HEAD
=======
﻿
/*** CSS PAGE ACCEUIL  ***/
>>>>>>> origin/master
body{
    font-size: 16px;
}

.entete{
	
}

#global{
	 margin: 5px;
	 padding: 10px;
}

.photo{
	height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

/*** CSS PAGE ACCUEIL  ***/
#logo{
    width: 30%;
    margin: 10px; 
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#menuPrincipal {
    margin: 20px;
}

#menuPrincipal ul,
#reseauxSociaux ul{
    list-style: none;
	overflow: hidden;
}

.itemMenu,
.icones {
   display: inline;

}

.itemMenu a {
    font-size: 16px;
    margin-left: 25px;
    color: #000;
    text-decoration: none;
    padding: 3px;
}

.itemMenu a:hover,
 #reseauxSociaux .icones:hover{
    background-color: #fff;
}

#reseauxSociaux {
    position: absolute;
    top: 55px;
    right: 10px;
}

#reseauxSociaux ul{
    overflow: hidden;
     margin-right: 20px;
}

#reseauxSociaux .icones{
    font-size: 1.1em;
    margin-right: 5px;
    padding: 3px;
}

/**FIN PAGE ACCUEIL**/

