/* CSS PAGE ACCEUIL  */
@font-face {
    font-family: 'bang_whack_powregular';
    src: url('font/bang_whack_pow-webfont.eot');
    src: url('font/bang_whack_pow-webfont.eot?#iefix') format('embedded-opentype'), url('font/bang_whack_pow-webfont.woff2') format('woff2'), url('font/bang_whack_pow-webfont.woff') format('woff'), url('font/bang_whack_pow-webfont.ttf') format('truetype'), url('font/bang_whack_pow-webfont.svg#bang_whack_powregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'klillregular';
    src: url('font/klill-light-webfont.eot');
    src: url('font/klill-light-webfont.eot?#iefix') format('embedded-opentype'), url('font/klill-light-webfont.woff2') format('woff2'), url('font/klill-light-webfont.woff') format('woff'), url('font/klill-light-webfont.ttf') format('truetype'), url('font/klill-light-webfont.svg#klillregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'klillregular';
    font-size: 16px;
}

a{
	text-decoration: none;
	color: #000000;
}

h1 {
    font-size: 2em;
}

ul {
    list-style: none;
}

#carroussel {}

#logoSuggestionOeuvre {
    max-height: 190px;
    margin-top: 20%;
    margin-left: 30px;
}

.entete {
    margin: 20px;
}

.photo {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
    padding: 30x;
}

/**CSS PAGE ACCUEIL**/
.ombreTop{
    width:100%;
    height: 100%;
    background-image: url("../images/degradeeNoir_petit_top.png");
    background-repeat: repeat-x;
    background-position: top; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

#logo {
    width: 80%;
    margin-left: -20px;
}

.ligne_logo{
	width:100%;
	height: 13px;
	background-image: url("../images/ligne_logo.png");
	background-repeat: repeat-x;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: -90;
}

.pas_accueil .image_gauche {
    position: absolute;
    top: 100px;
    left: -13px;
}

.pas_accueil .image_droite {
    position: absolute;
    top: 94px;
    right: 0px;
}

.menu {
    width: 100%;
    margin-right: 130px;
}

#menuPrincipal {
    margin-top: 25px;
}

.itemMenu,
.icones {
    display: inline;
}

.itemMenu a {
    font-size: 1.8em;
    margin-left: 10px;
    font-family: 'bang_whack_powregular';
    color: white;
    padding: 3px;
}

.pas_accueil .itemMenu a {
    color: black;
}

.itemMenu a:hover,
#reseauxSociaux .icones:hover {}

#reseauxSociaux {
    position: absolute;
    top: 10px;
    right: 10px;
}

#reseauxSociaux ul {
    margin: 10px 20px;
}

#reseauxSociaux .icones {
    font-size: 1.1em;
    margin-right: 5px;
    padding: 3px;
}

#reseauxSociaux .icones a {
    color: #fff;
}

.ombreBottom{
    width:100%;
    height: 100%;
    background-image: url("../images/degradeeNoir_petit_bottom.png");
    background-repeat: repeat-x;
    background-position: bottom; 
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -100;
}

.pas_accueil #reseauxSociaux .icones a {
    color: #000;
}

/**FIN PAGE ACCUEIL**/
/**DÉBUT PAGE DES ARTISTES**/
#zoneDesArtistes,
#descriptionArtiste {
    width: 100%;
}

#zoneDesArtistes .titrePage {
    border-bottom: 2px solid black;
    margin: -10px 20px 20px 0;
}

/*http://www.webcis.com.br/dividir-texto-colunas-css3.html*/
#zoneDesArtistes ul {
    -moz-column-count: 5;
    -moz-column-gap: 50px;
    -webkit-column-count: 4;
    -webkit-column-gap: 50px;
}

#zoneDesArtistes ul h1 {
    font-size: 2em;
    color: red;
    margin-bottom: 15px;
    margin-top: 0px;
}

#zoneDesArtistes ul .titreABC {
    margin-top: 10px;
}

#zoneDesArtistes ul li,
#descriptionArtiste p {
    font-size: 1.2em;
}

.suggererOeuvre {
    float: left;
    position: absolute;
    bottom: -10px;
}
/**FIN PAGE DES ARTISTES**/
/**DÉBUT PAGE DE LA BIO D'UN ARTISTE**/

#infosMonArtiste {
    margin-top: 30px;
}

#descriptionArtiste h1,
.titrePagePropos {
    font-size: 2em;
    border-bottom: 2px solid black;
    margin: -10px 20px 20px 0px;
}

.bioArtiste {
    flex: 1 0 0;
}

#descriptionArtiste p {
    width: 50%;
    margin-left: 10px;
}

#descriptionArtiste img {
    width: 30%;
    height: 30%;
}
/**FIN PAGE DE LA BIO D'UN ARTISTE**/
/**DÉBUT PAGE À PROPOS**/
.descriptionPagePropos {
    font-size: 1.2em;
    margin: 20px 0px 40px 0px;
	line-height: 25px;
}

.pageAPropos{
	margin: 0px 30px;
}

/**FIN PAGE À PROPOS**/
/**DÉBUT TEMPLATE GAUCHE**/

#labelRechercheSimple {
    font-family: 'bang_whack_powregular';
    font-size: 1.5em;
}

.rechercheSimple {
    margin-top: 5px;
    background-color: transparent;
    width: 250px;
    height: 30px;
    border: none;
    border-top: 2px solid black;
}

.pas_accueil #formRecherche {
    margin-left: 40px;
}

.pas_accueil #textRecherchez {
    color: black;
    letter-spacing: 1px;
    margin-left: 0px;
    font-size: 1.2em;
}

.pas_accueil .divChoixRecherche {
    font-size: 1em;
    margin-left: 105px;
    margin-top: -22px;
    letter-spacing: 1px;
    height: 22px;
    width: 65%;
}

.pas_accueil #listeChoixRecherche {
    margin-top: -2px;
}

.pas_accueil .elmChoixRecherche {
    color: black;
    font-size: 1.2em;
    white-space: nowrap;
}

.pas_accueil #inputRecherche {
    width: 250px;
    height: 30px;
    margin-left: 0px;
    border-bottom: 2px solid black;
    font-size: 1em;
    color: black;
}

.pas_accueil #faSearch {
    color: black;
    font-size: 1em;
    float: right;
    margin-top: 25px;
}

.pas_accueil #logoSuggestionOeuvre {
    margin-top: 300px;
}

.pas_accueil #resultatRecherche {
    border: none;
    position: absolute;
    top: 100px;
}
/**FIN TEMPLATE GAUCHE**/
/**Debut LISTEOEUVRES**/

#collectionOeuvres .titrePage {
    border-bottom: 2px solid black;
    margin: -10px 20px 20px 0;
}

.pas_oeuvres {
    margin: 30x;
    padding: 30x;
}

.pas_Select {
    margin-right: 100x;
    padding: 300x;
    width: 250px;
    height: 50px;
}
/**FIN LISTEOEUVRES**/