.ml50 {
    margin-left: 50px;
}

.mt10{
	margin-top: 10px;
}

.mt30{
	margin-top: 30px;
}

.mb30{
	margin-bottom: 30px;
}

.gras {
    font-weight: bold;
}

.ligneBas {
    border-bottom: 2px solid black;
}