.elemSoumission {
    display: block;
    margin-top: 20px;
    //margin-bottom: -10px;
}

#etoileImportant {
    color: red;
}

#labelImportImage {
    text-decoration: underline;
}

#labelImportImage:hover {
    cursor: pointer;
}

#artiste {
    margin-top: 10px;
}

#resultatRechercheArtiste {
    z-index: 1;
    background-color: white;
}

#divSoumission {
    margin-left: 20%;
	margin-right: 25%;
    font-size: 15px;
    font-family: 'Share Tech Mono', monospace;
	border: 1px solid;
	padding: 15px;
}

#labelNom,
#labelPrenom {
    display: inline;
}

#nomOuCollectif {
    margin-top: 50px;
    display: block;
}

#labelCollectif {
    margin-top: 5px;
}

#id{
	background-color: transparent;
	border: 0px solid;
	margin-left: 85%;
	font-size: 20px;
}

